:root{
  --primary-color: #3b82f6;
  --accent-color: #f87171;
  --text-color: #0f172a;
  --scrollbar: #94a3b8; /* thumb */
  --scrollbar-background: #f1f5f9; /* track */
  --text-muted: #64748b;
}

:root.dark {
  --primary-color: #3b82f6;
  --accent-color: #f87171;
  --text-color: #f8fafc;
  --scrollbar: #cbd5e1; 
  --scrollbar-background: #1f2937;
  --um-muted-strong: #cbd5e1;
  --text-muted: #cbd5e1;
}

* {
  box-sizing: border-box;
   scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) var(--scrollbar-background);
}

/* Custom Scrollbar matching Light/Dark themes */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-muted, #64748b);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: "Public Sans", system-ui, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

/* #app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

#flexible-main {
  flex: 1;
  min-height: 0;
}

/* .spa-page-view {
  min-height: 100%;
} */
